/*-----------------------------------------------------------Fonts
h1, h2, h3, h4, h5, h6 {
font-family: 'Jura', sans-serif;
}

p {
font-family: 'Exo 2', sans-serif;

}
font-family: 'Marck Script', cursive;


* {
 background: #000 !important;
 color: #0f0 !important;
 outline: solid #f00 1px !important;
}

  */

  html {
    margin: 0;
    padding: 0;
    text-align: center;
  }
    body {
  position: relative;
   margin-top: 45px;
   padding: 0;
  text-align: center;
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   font-family: 'Righteous', cursive;
  }
  
  p {
   font-family: 'Oswald', sans-serif;
  }
  
  /* ------------------------------------------------------------Header */
  
  .sm-links {
   padding: 0;
   font-size: x-large;
   color: #cc5500;
   margin-top: 10px;
   margin-left: 15px;
  }
  
  .sm-links:hover {
   color: #0077CC;
  }
  
  .title {
   text-align: center;
  }
  
  .title .amanda {
   padding: 0;
   margin: 0;
   width: 100%;
   font-family: 'Righteous', cursive;
   font-weight: 600;
   color: #0077CC;
   text-align: center;
  }
  
  .title .subtitle {
   font-family: 'Marck Script', cursive;
   font-size: 20px;
   font-weight: 200;
  }
  
  .in-touch {
   padding: 4px;
   text-align: right;
   margin-right: -15px;
  
  }
  .hvr-sweep-to-right:before {
    background: #0077CC;
  }
  
  .go-btn {
   color: #fff;
   background-color: #CC5500;
   border-color: #CC5500;
   font-family: 'Oswald', sans-serif;
   margin: 5px 40px 5px 
  }
  
  .uppercase {
   text-transform: uppercase;
  }
  /* -----------------------------------------------------------Navbar copied */
  /* Screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */

.menu-toggle {
   float: right;
  margin-right: 20px;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  background-color: #CC5500;
  color: #fff;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #ccb4a3;
}

/*

 Default styles + Mobile first

 Offscreen menu style

*/

.main-menu {
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}
@media (max-width:991px) {
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
 height:  100vh;
  width: 100vw;
  background: #CC5500;
}
}
.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*

 On small devices, allow it to toggle...

*/

/*

 :target for non-JavaScript

 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.

*/

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 

 We could us `.main-menu:target:after`, but

 it wouldn't be clickable.

*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #CC5500;
  background: rgba(204,85,0,0);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}
/*

 Larger screen styling

 Horizontal menu

*/

@media (min-width: 992px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }


  /* Undo positioning of off-canvas menu */

  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }

  .main-menu ul {
    display: inline-flex;   

    /* Undo off-canvas styling */

    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

   .main-menu a {
    color: #06c;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }
}



  /* -----------------------------------------------------------Navbar */
  
  .heading {
   background-color: #fff;
   z-index: 99;
   padding: 0;
  }
  
  .navbar-brand img {
    height: 30px;
    width: 30px;
  }
 
  .nav-top {
   padding: 0;  
   margin: 0;
   position: fixed;
   background-color: #CC5500;
   z-index: 100;
  }
  
  
  .nav-text {
   margin: auto;
   font-family: 'Oswald', sans-serif;
   text-align: center;
   background-color: #CC5500;
  }
  
  .hover-home .hvr-sweep-to-top:before {
   background: #0300CC;
  }
  .hover-music .hvr-sweep-to-top:before {
    background: #5900CC;
   }
   .hover-events .hvr-sweep-to-top:before {
    background:#12A4B7;
   }
   .hover-news .hvr-sweep-to-top:before {
    background: #B72512;
   }
   .hover-contact .hvr-sweep-to-top:before {
    background:#0077CC;
   }
  .navbar-toggler {
   border: 1px solid rgb(255, 255, 255);
   }

  .nav-item {
    padding: 10px;
   }
   .nav-item a i {
    display: block;
    text-align: center;
    color: #fff;   
   }
   .navbar-brand {
     float: left;
     margin-left: 15px;
   }
   @media (max-width:767px) {
    .pic img {
     height: 100px;
     width: 100px;
     border-radius: 50%;
     
    }
   }
   
   @media (min-width:768px) and (max-width: 991px) {
    .pic img {
     height: 250px;
     width: 250px;
     border-radius: 50%;
     margin: 5px;
     
    }
   }

  @media (max-width: 991px){
  .nav-item span {
    display: inline;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
   }
   .nav-item {
     padding: 15px;     
   }
   
  }
  .nav-item .sr-only {
    padding: 0;
   }

  
  .burger_icon {
   color: #fff;  
  }
  
  @media (max-width:991px) {
   .navbar-collapse {
    height: 100vh;
    margin: auto;
   }
   .nav-item {
     display: inline;
   }
   .nav-item .nav-link {
    display: inline;
  }
  .nav-item a i {
    display: inline;
    text-align: right;
    color: #fff;
    font-size: x-large;
    padding: 10px; 
   
   }
    .social-links-sm i {
     font-size: x-large;
     padding: 30px 10px;
   }
  } 
  .social-links-sm {
   color: #fff;
  }  
  @media (min-width:768px) and (max-width: 991px) {
   .nav-item span {
    font-size: 30px;
    display: inline;
  }
   }
  
   @media (min-width:768px) and (max-width: 991px) {
    .nav-link .contact-btn {
     font-size: 30px;
    }
   }
    
   @media (min-width:768px) and (max-width: 991px) {
    .nav-text {
     font-size: 32px;
     letter-spacing: 3px;
    }
   }
   @media (min-width: 992px){
    .nav-item span {
     display: inline;
     padding: 0 15px;
     text-align: center;
     font-size: 15px;
     font-weight: 400;
     letter-spacing: 3px;
     color: #fff;
    }   
    .main-menu ul {
      height: 50px;
    }
    .navbar-nav li {
      margin: auto;
      padding: 0;    
    }
    .navbar-brand img {
      margin-top: 7.5px;
    }
  }


  
   /* --------------------------------------------------------------About me */

   .spacing {
     height: 40px;
   }
   @media (max-width: 567px){
    .spacing {
      height: 10px;
    }
  }
   .about {
    background-image: url('../images/fence-guitar.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
    background-color: #0039CC;
   }
  .cover {
   width: 100%;
   height: auto;
   padding: 1% 0;
  }
  .cover img {
   height:400px;
  }
  @media (min-width: 1200px) {
  .cover img {
    height:600px;
  }
  }
  .artist-info .moving-text {
   padding: 10px;
  }
  .moving-text-box {
   width: 80%;
   height: 20%;
   border-radius: 45% 0 50% 0;
   background-color: rgba(0, 119, 204, .9);
   margin: 10px;
   padding: 20px;
  }
  .moving-text-box .moving-text {
   text-align: center;
   color: #fff;
  }
  .mh-rule {
   width: 10%;
   height: 2px;
   background-color: #CC5500;
  }
  
  
  
  
  /* ------------------------------------------------------------------------------Music Section */
  
  #music {
   background-image: url('../images/microphone.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   padding-bottom: 15px;
  }
  
  .music-heading {
    background-color: #5900CC;
    color: #fff;
    padding: 10px 0;
   }
  
   .original-heading {
    color: #24B75E;
   }
  
   .og {
    background-color: rgba(89,0,204,0.5);
   
  }
  .original-music {
   padding-top: 15px;
   text-align: center;
   margin: auto;
   padding: 0;
  }
  
  .original-music .play {
  margin: 2.5% 1px;
  
  }
  .play iframe {
   border-color: rgba(37, 184, 95,0.8);
   border-radius: 25%;
   border-width: 3px;
   margin: 20px;
   border-style: double;
   padding: 5px;
   mask-image: radial-gradient(white, black);
   -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  .plyr__video-embed iframe, .plyr__video-wrapper--fixed-ratio video {
    width: 90%;
  }
  
  /* ----------------------------------------------------------------------------------Audio */
  .cover-music {
   margin:0;
  }
  .audio-box {
    padding: 5%;
  }
  @media (min-width: 993px) {
    .audio-box {
      padding: 10%;
    }
  }
  .cover-music .audio-box {
   color: #24B75E;
   background-color: rgba(89,0,204,0) ;
  
  }
  
   .audio-box-body {
    background-color: rgba(89,0,204,0.5) ;
    border-radius: 15%;
    padding: 5px;
   }
   @media (min-width: 768px) {
   .cover-music audio {
   width:90%;
  }
   }
   @media (max-width: 767px) {
    .cover-music audio {
    width: 70%;
   }
    }
  
  .cover-songs {
   color: #24B75E;
  }
  audio::-webkit-media-controls-panel {
   background-color:#24B75E;
  }
  
  .album_cover img {
   height: 90%;
   width: 90%;
   border-radius: 50%;
   }
  /*----------------------------------------------------------------flip animations https://davidwalsh.name/css-flip --*/
  /* entire container, keeps perspective */
  .flip-container {
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  
  .flip-container, .front, .back {
    width: 100%;
    height: 100%;
    margin-top: -25%;
    background-color: #5900CC;
  }
  
  @media (max-width: 767px) {
    .flip-container, .front, .back {
      width: 100%;
      height: 100%;
      margin-top: -25%;
    }
    .front, .back {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      position: absolute;
      top: 50px;
      left: 75px;
    }
    
  }
  
  @media (max-width: 992px){
    flip-container, .front, .back {
      width: 100%;
      height: 100%;
      margin-top: -25%;
    }
    .front, .back {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      position: absolute;
      top: 35px;
      left: 70px;
    }
  }
  /* flip speed goes here */
  .flipper {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }
  
  /* hide back of pane during swap */
  .front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  /* back, initially hidden pane */
  .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
     
  }
  
   .go-to-original a {
    text-decoration: none;
    color: #fff;
  
  }
  .go-to-original{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #5900CC;
    color: #fff;  
    padding:  25% 2%;
  }
  @media (min-width:992px) {
    .go-to-original{
    background-color: #5900CC;
    color: #fff; 
    padding: 25px;   
  }
  }
  .original-artist-cover {
    vertical-align: bottom;
  }
  
  /* -------------------------------------------------------------------------------------Events Section */
  
  .events {
  padding:0;
   text-align: center;
   background-image: url('../images/blue-guitar.png');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 15px;
  }
  
  .events-heading {
   background-color: #12A4B7;
   color: #fff;
   padding: 10px 0;
  }
  
  .table-events {
   background-color: rgba(18,164,184, 0.5);
   vertical-align: middle;
  }
  
  .table-events p {
   color: #fff;
  }
  
  .venue {
   font-weight: bold;
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 2px;
  }
  
  
  .table .date {
   color: #fff;
  }
  
  .table td,
  .table th {
   vertical-align: middle;
  }
  
  .table button {
   color: #fff;
   border: 2px solid #12A4B7;
   font-family: 'Oswald', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
  }
  
  
  table {
   max-width: 80%;
   margin: auto;
  }
  
  @media (max-width: 576px) {
   .table td,
   .table th,
   .venue,
   .table button {
    font-size: 80%;
   }
   .table button {
    border: 1px solid #C8CC00;
    font-weight: 400;
   }
  }
  
  /* ------------------------------------------------------------------News */
  
  .news {
   background-image: url('../images/yours_forever.png');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
   padding-bottom: 15px;
  
  }
  
  .news-heading {
   background-color: #B72512;
   color: #fff;
   padding: 10px 0;
   margin-bottom: 25px;
  }
   .card {
     margin: auto;
     margin-bottom: 15px;
   }
  .card-body {
   color: #B72512;
  }
  
  .card img {
   height: 150px;
  }
  
  .btn-red {
   color: #B72512;
   border-color: #B72512;
  }
  
  /* ------------------------------------------------------------------Contact Modal */
  
  .modal-content {
   background-color: #12A4B7;
   color: #fff;
   text-align: left;
  }
  
  .modal-header {
   margin: auto;
   border: none;
   padding-bottom: 0px;
  }
  
  #title {
   padding: 0;
   font-family: 'Righteous', cursive;
   font-weight: 700;
   font-size: 48px;
   color: #0300CC;
   margin: auto;
  }
  
  .btn-send {
   background-color: #CC5500;
   color: #fff;
  }
  
  
  @media (max-width:991px) {
   .modal-full {
    min-width: 100%;
    margin: 0;
   }
  
   .modal-full .modal-content {
    min-height: 100vh;
   }
   form {
    max-width: 80%;
    margin: auto;
   }
  }
  
  .modal-picture {
   margin: auto;
   margin-bottom: 100px;
  }
  
  .modal-picture img {
   height: 250px;
   width: auto;
   border-radius: 30px;
  }
  
  .modal-footer {
   margin-bottom: 25px;
  }
  
  /*------------------------------------------------------------Footer */
  
  #sticky-footer {
   -ms-flex-negative: none;
       flex-shrink: none;
   background-color: #cc5500;
   color: #fff;
   margin-top: 25px;
  }
  
  #sticky-footer span {
   padding: 50px 15px;
  }
  
  #sticky-footer img {
   height: 20px;
   width: 20px;
   padding-bottom: 5px;
  }