 
 
 
 body {
  margin: 0;
  padding: 0;
 }
 
 
 /* ------------------------------------------------------------Header */
 .heading {
  margin-top: 15px;
  padding: 0;
 }
 
 .sm-links {
  padding: 0;
  font-size: x-large;
  color: #cc5500;
 }

 .title {
   padding: 0;  
 }
 
  .title img {
  margin:10px;
  padding: 0;
     height: 20px;
     width: 20px;
     float: left;
 }
 
 .in-touch {
     padding: 0;
     margin-left: 0;
 }
 


 
 .uppercase {
  text-transform: uppercase;
 }
 
 
 /* -----------------------------------------------------------Navbar */
 
   .logo {
    padding: 0;
    size: auto;
    }
.nav-text {
 margin: auto;
    }
   
    .container-fluid{
     padding: 0;
    }
    .nav-divi {
        
         }